{% extends "header.html" %}
{% block body %}
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
			$(function() {
			  $('a#process_input').bind('click', function() {
				$.getJSON('/tweetdata', {}, function(data) {
				//  $("#result").text(data.result);
				});
				return false;
			  });
			});
		</script>
	</head>
  
	<body>
		<div class='container'>
		<h3>Click for update coordinates</h3>
			<a href=# id=process_input><button class='btn btn-default'>Submit</button></a>
		<p id=result></p>
		</div>
	</body>
{% endblock %}